[Desktop Entry]
Name=NitroSense
Exec=nitrosense
Icon=nitrosense
Terminal=false
Type=Application
Categories=System;Monitor;
StartupNotify=true
Comment=Fan and power control for Acer Nitro AN515-58
